In [6]:
!kaggle competitions download -c playground-series-s5e1
!unzip *.zip

playground-series-s5e1.zip: Skipping, found more recently modified local copy (use --force to force download)
Archive:  playground-series-s5e1.zip
  inflating: sample_submission.csv
  inflating: test.csv
  inflating: train.csv

In [8]:
from pathlib import Path

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split

working_dir = Path().cwd()

In [10]:
train_df = pd.read_csv(working_dir/'train.csv', index_col='id')
train_df

,date,country,store,product,num_sold
id,,,,,
0,2010-01-01,Canada,Discount Stickers,Holographic Goose,NaN
1,2010-01-01,Canada,Discount Stickers,Kaggle,973.0
2,2010-01-01,Canada,Discount Stickers,Kaggle Tiers,906.0
3,2010-01-01,Canada,Discount Stickers,Kerneler,423.0
4,2010-01-01,Canada,Discount Stickers,Kerneler Dark Mode,491.0
...,...,...,...,...,...
230125,2016-12-31,Singapore,Premium Sticker Mart,Holographic Goose,466.0
230126,2016-12-31,Singapore,Premium Sticker Mart,Kaggle,2907.0
230127,2016-12-31,Singapore,Premium Sticker Mart,Kaggle Tiers,2299.0
230128,2016-12-31,Singapore,Premium Sticker Mart,Kerneler,1242.0
230129,2016-12-31,Singapore,Premium Sticker Mart,Kerneler Dark Mode,1622.0

In [11]:
train_df.describe()

            num_sold
count  221259.000000
mean      752.527382
std       690.165445
min         5.000000
25%       219.000000
50%       605.000000
75%      1114.000000
max      5939.000000

In [12]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 230130 entries, 0 to 230129
Data columns (total 5 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   date      230130 non-null  object
 1   country   230130 non-null  object
 2   store     230130 non-null  object
 3   product   230130 non-null  object
 4   num_sold  221259 non-null  float64
dtypes: float64(1), object(4)
memory usage: 10.5+ MB